# **APA - Association Rules Analysis**
> ## *DATA 3300*

## **Name(s): Oliver Heady**
## **Assignment**

# Q1

**Start by loading in the required libraries: `Pandas`, `NumPy`, and `Mlxtend.frequent_patterns`. Then import the `crique_orders.csv` dataset. Perform any preprocessing needs (dummy coding transactions, dropping any unnecessary columns, etc.)**

In [ ]:
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import apriori, association_rules

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/DATA 3300/4 - Association Rules/crique_orders.csv")
df.head()

      OrderID                      Order_Items
0       22914                             SFry
1       22915             BigCriq, LFry, MSoda
2       22916         Cito, Nacho, MSoda, TPop
3       22917      CriqBurg, SFry, LSoda, TPop
4       22918       CriqBurg, LFry, FSc, LSoda
...       ...                              ...
1866    24780  Cito, LFry, FSc, LSoda, CarbOff
1867    24781               CBChs, SFry, SSoda
1868    24782            CriqBurg, SFry, LSoda
1869    24783     CBChs, Nacho, SSoda, CarbOff
1870    24784                        SFry, FSc

[1871 rows x 2 columns]

### Create Dummy Variables for all Order Items

In [ ]:
# drop rows with missing data (hint: we learned this in module 2)
df = df.dropna() # drop all rows with missing data

data = list(df['Order_Items'].apply(lambda x:x.split(","))) # convert the order_items column to a list

In [ ]:
from mlxtend.preprocessing import TransactionEncoder # import the TransactionEncoder function from mlxtend.preprocessing, this is a more efficient means of creating the dummy columns

a = TransactionEncoder() # assign the funciton to an object called 'a'

a_data = a.fit(data).transform(data) # create a new object where the 'order_items' list has been converted to dummy variable columns
df = pd.DataFrame(a_data, columns=a.columns_) # create a dataframe object called df from the new dummy variable columns
# view df
df

,CarbOff,FSc,Hop,LFry,LSoda,MSoda,Nacho,SFry,SSoda,TPop,...,Cito,CriqBurg,Hop,LFry,MSoda,Nacho,SCito,SFry,SSoda,TPop
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
1,False,False,False,True,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,True,True,False,False,True,...,True,False,False,False,False,False,False,False,False,False
3,False,False,False,False,True,False,False,True,False,True,...,False,True,False,False,False,False,False,False,False,False
4,False,True,False,True,True,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1858,True,True,False,True,True,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
1859,False,False,False,False,False,False,False,True,True,False,...,False,False,False,False,False,False,False,False,False,False
1860,False,False,False,False,True,False,False,True,False,False,...,False,True,False,False,False,False,False,False,False,False
1861,True,False,False,False,False,False,True,False,True,False,...,False,False,False,False,False,False,False,False,False,False
1862,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False

### Convert T/F to 1/0 and clean up dataframe

In [ ]:
# replace 'true' with a value of 1, and 'false' with a  value of 0
df.replace({False : 0, True : 1}, inplace = True)

# view df
df

,CarbOff,FSc,Hop,LFry,LSoda,MSoda,Nacho,SFry,SSoda,TPop,...,Cito,CriqBurg,Hop,LFry,MSoda,Nacho,SCito,SFry,SSoda,TPop
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,0,0,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,1,1,0,0,1,...,1,0,0,0,0,0,0,0,0,0
3,0,0,0,0,1,0,0,1,0,1,...,0,1,0,0,0,0,0,0,0,0
4,0,1,0,1,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1858,1,1,0,1,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
1859,0,0,0,0,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1860,0,0,0,0,1,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
1861,1,0,0,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1862,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [ ]:
df.head()

,CarbOff,FSc,Hop,LFry,LSoda,MSoda,Nacho,SFry,SSoda,TPop,...,Cito,CriqBurg,Hop,LFry,MSoda,Nacho,SCito,SFry,SSoda,TPop
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,0,0,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,1,1,0,0,1,...,1,0,0,0,0,0,0,0,0,0
3,0,0,0,0,1,0,0,1,0,1,...,0,1,0,0,0,0,0,0,0,0
4,0,1,0,1,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [ ]:
df.columns = df.columns.str.replace(' ', '') # remove duplicated columns by first trimming all leading and trailing whitespaces
df = df.loc[:,~df.columns.duplicated()] # drop duplicated columns
# view df, ensure all duplicated columns were dropped
df

,CarbOff,FSc,Hop,LFry,LSoda,MSoda,Nacho,SFry,SSoda,TPop,BigCriq,CBChs,Cito,CriqBurg,SCito
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,1,0,1,0,0,0,0,1,0,0,0,0
2,0,0,0,0,0,1,1,0,0,1,0,0,1,0,0
3,0,0,0,0,1,0,0,1,0,1,0,0,0,1,0
4,0,1,0,1,1,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1858,1,1,0,1,1,0,0,0,0,0,0,0,1,0,0
1859,0,0,0,0,0,0,0,1,1,0,0,1,0,0,0
1860,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0
1861,1,0,0,0,0,0,1,0,1,0,0,1,0,0,0
1862,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0

## A

**Generate frequent itemsets with a mimumum support of 0.001. Show the table.**

In [ ]:
# generate frequent itemsets with a minimum support of 0.001, save table to an object
freq_is = apriori(df, min_support = 0.001, use_colnames = True) #change the minimum support value
# view table object
freq_is #show the frequent itemsets table

      support                            itemsets
0    0.234568                           (CarbOff)
1    0.107890                               (FSc)
2    0.028986                               (Hop)
3    0.207193                              (LFry)
4    0.122920                             (LSoda)
..        ...                                 ...
451  0.001074     (TPop, SFry, CBChs, LSoda, FSc)
452  0.001610  (TPop, SFry, LSoda, FSc, CriqBurg)
453  0.001074  (TPop, SFry, FSc, CriqBurg, MSoda)
454  0.001074     (TPop, SFry, CBChs, FSc, SSoda)
455  0.001610  (TPop, SFry, FSc, CriqBurg, SSoda)

[456 rows x 2 columns]

## B

**What is the second most frequently purchased combination of two or more times? In what percentage of orders does this combination occur? *Hint: sort support in descending order.***

The Criq Burger and Small Fry are the second mostfrequently purchased combo, which occurs in about 12% of orders.

## C 

**What is the most frequently purchased combination of three or more items? In what percentage of orders does this combination appear?**

The Small Soda, Criqurrito, and Nachos are the most frequently purchased combo of 3 or more items, appearing in 6% of orders.

## D

**Confirm the support of this itemset (answer to 1C) by writing a formula to calculate support:**

In [ ]:
# calculate support count of itemset
sc = len(df[(df['SSoda'] == 1) &  (df['Cito'] == 1) &  (df['Nacho'] == 1)]) #calculate support count of itemset containing 2 items
# calculate support of itemset
support = sc/len(df) #divide the support count by the total number of observations in df
# show the support value
support

0.06172839506172839

## E

**In what percentage of orders were CriqBurgers purchased?**

About 24%

## F

**Apart from looking up the support of CriqBurgers in the frequent itemsets table, how could you have determined the answer to 1E using descriptive statistics? Show below:**

In [ ]:
# uses a descriptive statistics function to show the support of CriqBurgers
sc = df['Cito'].sum() #calculate support count of itemset containing one item
support = sc/len(df) #divide the support count by the total number of observations in df
support

0.2436929683306495

# Q2

**Conduct an association rules analysis with a minimum confidence level of 0.001. Change the support of your frequent itemsets to 0.01.**

In [58]:
# generate frequent itemset with a minimum support of 0.01, save table to object
freq_is = apriori(df, min_support = 0.01, use_colnames = True) #change the minimum support value
# to generate association rules analysis with a minimum confidence of 0.001
df_ar = association_rules(freq_is, metric = "confidence", min_threshold = 0.001) #change minimum_threshold confidence value
df_ar

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(CarbOff),(FSc),0.234568,0.107890,0.019860,0.084668,0.784760,-0.005447,0.974630
1,(FSc),(CarbOff),0.107890,0.234568,0.019860,0.184080,0.784760,-0.005447,0.938121
2,(LFry),(CarbOff),0.207193,0.234568,0.054750,0.264249,1.126534,0.006150,1.040341
3,(CarbOff),(LFry),0.234568,0.207193,0.054750,0.233410,1.126534,0.006150,1.034199
4,(LSoda),(CarbOff),0.122920,0.234568,0.026302,0.213974,0.912204,-0.002531,0.973800
...,...,...,...,...,...,...,...,...,...
549,"(SFry, FSc)","(CriqBurg, SSoda)",0.045625,0.107354,0.010199,0.223529,2.082176,0.005301,1.149620
550,(CriqBurg),"(SSoda, SFry, FSc)",0.317230,0.017177,0.010199,0.032149,1.871669,0.004750,1.015470
551,(SSoda),"(CriqBurg, SFry, FSc)",0.333333,0.028449,0.010199,0.030596,1.075472,0.000716,1.002215
552,(SFry),"(CriqBurg, SSoda, FSc)",0.213097,0.016103,0.010199,0.047859,2.972040,0.006767,1.033352
553,(FSc),"(CriqBurg, SSoda, SFry)",0.107890,0.045625,0.010199,0.094527,2.071817,0.005276,1.054007

# Q3

**Report the confidence values for the following prompts:**

## A
**List the rule and the confidence value for the three rules with the highest confidence using the following notation {itemset 1} â†’ {itemset 2} to indicate the rules:**

{'Cito', 'FSc'} -> {'LFry'} Confidence value of 1.0
{'SSoda', 'SCito'} -> {'Nacho') Confidence value of 0.73
{'SSoda', 'SCito'} -> {'Nacho') Confidence value of 0.72

## B

**Report the confidence for the following rules:**

**{Cito, LFry} â†’ {MSoda}** 

**{Cito} â†’ {SSoda, Nacho}**

**{Cito, LFry} â†’ {MSoda}** Confidence level of 0.23

**{Cito} â†’ {SSoda, Nacho}** Confidence level of 0.25

## C

**Replicate at least one of these results by writing the calculation for confidence with a formula below:**

In [ ]:
# calculate the confidence of {Cito} â†’ {SSoda, Nacho}
sc_x = df['Cito'].sum()
sc_xy = len(df[(df['Cito'] == 1) & (df['SSoda'] == 1) & (df['Nacho'] == 1)])

confidence = sc_xy/sc_x
confidence

0.2533039647577093

## D

**Interpret the meaning of these confidence values in general. Then specifically describe what one of the confidence values reported in 3b indicates about the pair of itemsets included in its rule.**

Confidence is a measure of the likeliness that some event will be replicated in the future. For example, we just calculated that we are 25% confident that someone who buys a Criqurito will also buy a Small Soda and Nachos.

# Q4 

**Report on the lift values generated in the association rules table, specifically:**

## A

**Which three rules have the highest lift values? Write the rules in proper notation with their corresponding lift value.**

{'Cito', 'FSc'} -> {'LFry'} Lift of 4.83
{'LFry'} -> {'Cito', 'FSc'} Lift of 4.83
{'LFry'} -> {'LSoda', 'Cito'} Lift of 2.98

## B

**Describe what lift indicates in general. Then specifically describe what one lift value from 4A indicates. Finally, the rules associated with the top two lift values have the same itemsets, just swapped antecedents and consequents. Does it make sense that they share the same lift value, why or why not?**

Lift indicates the likeliness of an event when compared to all events. For example, we just calculated the likeliness of buying a Large Soda and a Criqurrito when a Large Fry is bought versus when anything else is bought. Those two items are about 3x more likely to be purchased with the Large Fry than all other combos averaged out.

# Q5

**Describe what effects increasing the minimum support and confidence levels would have on your analysis. Focus on the number of rules as well as the impacts to support and confidence levels.**

Increasing the minimum support and confidence levels would lessen the number of rules in our analysis. Since the lower-leveled rules would be stricken from the data, the average support and confidence levels for the data would increase.

# Q6

**Finally, using your frequent itemset and/or association rules table, find an additional problem or opportunity for The Crique in terms of their menu.**

**To help guide you, try to find items that *should* be purchased together, but donâ€™t seem to be very often. You might also want to look at items that *are* purchased together, but for which the combination may not make immediate sense.**

**Identify the opportunity, then in fewer than 50 words,what would you recommend that The Crique do about it?**

In [59]:
df.describe()

,CarbOff,FSc,Hop,LFry,LSoda,MSoda,Nacho,SFry,SSoda,TPop,BigCriq,CBChs,Cito,CriqBurg,SCito
count,1863.000000,1863.000000,1863.000000,1863.000000,1863.000000,1863.000000,1863.000000,1863.000000,1863.000000,1863.000000,1863.000000,1863.000000,1863.000000,1863.000000,1863.000000
mean,0.234568,0.107890,0.028986,0.207193,0.122920,0.239936,0.294149,0.213097,0.333333,0.195921,0.094471,0.149222,0.243693,0.317230,0.101449
std,0.423842,0.310325,0.167811,0.405404,0.328434,0.427159,0.455782,0.409606,0.471531,0.397014,0.292562,0.356403,0.429425,0.465523,0.302004
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

The smothered criqurrito is not a high selling item - only in 10% of orders when compared to the normal criqurrito's 24%. In addition, the Large Fries are infrequently purchased with the smothered criqurrito, with a lift of .84. Our customers are missing out on a huge meal! To solve these issues, a combo meal should be made wherein one can purchase both the smothered criqurrito and the large fries for only $9, giving the customer a 14% discount while still netting us $5.80 in profit.